img {
    box-shadow: 6px 3px 22px 1px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: inherit;
}
.image {
    margin: 0 auto;
    width: 100%;
    display: block;
}
.image figcaption {
    text-align: center;
}

@media only screen and (max-width: 1170px) {
    img {
        width: inherit;
    }
}