img {
    box-shadow: 6px 3px 22px 1px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: inherit;
}
.image {
    margin: 0 auto;
    width: 100%;
    display: block;
}
.image figcaption {
    text-align: center;
}

.update-info {
    text-align: center;
    font-size: x-small;
    font-style: italic;
    color: gray;
    margin-top: 20px;
}

#main-header {
    background-image: url('../img/dorfbrunnen_glasfaser.jpg');
}

@media only screen and (max-width: 1170px) {
    img {
        width: inherit;
    }
    #main-header {
        background-image: url('../img/dorfbrunnen_glasfaser_mobile.jpg');
    }
}